ipython
jupyter
tensorboard
tqdm

PyYAML

dataclasses
decorator
docopt


h5py
numba
ninja
matplotlib
holoviews
bokeh
seaborn
plotly

pytorch_warmup
torch_optimizer
torchmetrics==1.0.3
torch-fidelity==0.3.0



numpy==1.26
pandas==2.0.1

scikit-learn
scipy

jupyter
ipywidgets
